/*=============Колір на сайті=========*/
* {
  padding: 0;
  margin: 0;
}
h1 {
  margin: 0;
  padding: 0;
}
h2 {
  display: inline-block;
}
h4 {
  display: inline-block;
}
h5 {
  padding: 0;
  margin: 0;
}
img {
  padding: 0;
  margin: 0;
}
.header_bg {
  background: url(../img/header_david.png) no-repeat;
  background-position: top;
  background-attachment: fixed;
  background-size: 100% 100%;
  height: auto;
}
.logo {
  height: auto;
  background-color: #921133;
  margin: 25px 15px;
}
h1 {
  color: #fff;
  font-size: 55px;
  padding: 25px 20px;
  margin-top: 300px;
  padding-bottom: 55px;
  background: linear-gradient(to bottom, rgba(2, 2, 2, 0.9), rgba(90, 90, 90, 0.9));
  box-shadow: -5px -20px 30px rgba(2, 2, 2, 0.8);
  letter-spacing: 2px;
  font-weight: bold;
  line-height: 1.2;
  font-family: "Arial" sans-serif;
}
h1 span {
  text-transform: uppercase;
}
section {
  background-color: #fff;
}
.first_content {
  margin-top: 50px;
}
.first_content .first_header {
  font-weight: bold;
  color: #921133;
  border-right: 5px solid #921133;
}
.first_content p {
  margin-top: 20px;
  font-weight: 900;
  font-size: 20px;
}
.second_content {
  margin-top: 100px;
}
.second_content .second_content_img {
  width: 100%;
}
.second_content .second_content_text {
  padding: 50px 25px;
}
.second_content .second_header {
  font-weight: bold;
  color: #921133;
  border-left: 5px solid #921133;
  padding: 10px 20px;
}
.second_content p {
  padding: 5px 25px;
  font-size: 20px;
  font-weight: 900;
}
.third_content .third_content_header {
  font-weight: bold;
  color: #921133;
  border-right: 5px solid #921133;
  padding: 0 15px;
}
.third_content p {
  margin-top: 20px;
  font-weight: 900;
  font-size: 20px;
  padding: 0 15px;
}
.fourth_content .fourth_content_header {
  font-weight: bold;
  color: #921133;
  border-left: 5px solid #921133;
  padding: 10px 20px;
}
.fourth_content .fourth_content_img {
  width: 100%;
}
.fourth_content .fourth_content_text {
  padding: 50px 25px;
}
.fourth_content p {
  padding: 5px 25px;
  font-size: 20px;
  font-weight: 900;
}
/*=============Second Section===========*/
#second {
  margin-top: 50px;
}
#second span {
  color: #921133;
}
#second p {
  font-size: 20px;
  font-weight: 900;
  text-align: center;
}
#second h2 {
  font-size: 32px;
  font-weight: 900;
  padding: 0px 25px;
}
hr {
  margin-top: 25px;
  height: 5px;
  background-color: #921133;
}
/*========Third Section=======*/
#third .contacts {
  margin-top: 50px;
}
#third h2 {
  font-size: 32px;
  font-weight: 900;
  padding: 0px 10px;
  color: #921133;
}
#third h3 {
  font-size: 20px;
  font-weight: 900;
}
#third li {
  font-size: 20px;
}
#third h4 {
  color: #921133;
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
}
#third p {
  color: #921133;
  font-size: 20px;
}
#third span {
  color: #921133;
  font-weight: 700;
}
#third a {
  text-decoration: none;
  color: #921133;
}
#third .carousel-control {
  width: 0;
}
#third img {
  margin-top: 25px;
}
.contacts_form {
  background-color: #921133;
  margin-top: 50px;
}
.contacts_form .col-md-6 p {
  margin-top: 35px;
}
.contacts_form h2 {
  color: #fff;
}
.contacts_form h4 {
  color: #fff;
  padding: 5px;
}
.contacts_form p {
  font-size: 20px;
  color: #fff;
  padding: 5px;
}
.contacts_form a {
  text-decoration: none;
  color: #B6B190;
}
.contacts_form span {
  font-weight: bold;
}
.contacts_form abbr {
  text-transform: uppercase;
}
.contacts_form .registration {
  border: none;
  width: 300px;
  height: 50px;
  border-bottom: 1px solid silver;
  background-color: transparent;
  outline: none;
  color: #fff;
  padding: 15px;
  margin-bottom: 25px;
  font-size: 20px;
}
.contacts_form .registration:focus {
  color: #000;
}
.contacts_form .registration_btn {
  color: #fff;
  border: none;
  background-color: transparent;
  border: 2px solid #fff;
  text-transform: uppercase;
  outline: none;
  padding: 10px 25px;
  font-weight: 500;
  font-size: 20px;
}
footer {
  margin-top: 50px;
  background-color: #111111;
}
footer .soc_icon {
  background: url("img/sprites-social.png");
}
